@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Lora);


html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

img {
	max-width: 100%;
}

.inactive {
	opacity: 0.75
}

.active {
	opacity: 1
}